body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend';
    background-color: #3b7cb7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3c434f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
}

.logo img {
    height: 50px;
    width: auto;
}

main {
    padding: 40px;
    text-align: center;
}

.starting-text {
    padding: 50px 0;
}

.starting-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: black;
}

.starting-text p {
    font-size: 1.2em;
    color: white;
}