.task-list {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:visited {
  color: white;
}

#tasks {
  list-style: none;
  padding: 0;
}

#tasks li {
  margin-bottom: 10px;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 8px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.prompts {
  position: relative;
  right: -184%;
}